name: Awesome Lint

on:
  pull_request:
    paths:
      - 'README.md'
      - 'CONTRIBUTING.md'

jobs:
  awesome-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npx awesome-lint
